# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# ==========================
# Virtual environments
# ==========================
app_env/
.venv/
venv/

# ==========================
# Django
# ==========================
*.sqlite3
db.sqlite3
/staticfiles/
media/

# settings.py локальные и серверные
settings.py

# Шаблон настроек (можно коммитить)
settings.example.py

# ==========================
# Environment files
# ==========================
.env
.env.production
.env.local
.env.dev

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# ==========================
# Logs and misc
# ==========================
*.log
*.pot
*.pyc
