{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Guidejet TI{% endblock %}

{% block content %}

<!-- HERO -->
<div class="hero bg-black text-neutral-content min-h-screen px-4">
  <div class="hero-content flex-col lg:flex-row-reverse gap-4 lg:gap-12">

    <img
      src="{% static 'hero_black.png' %}"
      class="w-full max-w-[200px] sm:max-w-xs lg:max-w-sm rounded-lg shadow-2xl"
    />

    <div class="max-w-xl">
        <h1 class="font-bold
                  text-base sm:text-base lg:text-3xl
                  leading-snug">
          ФОРМУЛА НАШЕГО БУДУЩЕГО:
          <span class="text-rotate
                      text-xl sm:text-2xl lg:text-3xl
                      duration-8000">
            <span>
              <span class="text bg-white text-black rounded">МЫСЛИТЬ</span>
              <span class="text bg-white text-black rounded">ПРОЕКТИРОВАТЬ</span>
              <span class="text bg-white text-black rounded">РЕАЛИЗОВЫВАТЬ</span>
              <span class="text bg-white text-black rounded">МЕНЯТЬ МИР</span>
            </span>
          </span>
        </h1>

      <p class="py-2 text-sm sm:text-base text-neutral-content/80">
        Мы создаём умные города, разрабатывая IT системы и электронные устройства,
        которые делают город удобным, прозрачным и современным.
      </p>

      <p class="py-2 text-sm sm:text-base text-neutral-content/80">
        Наши решения помогают городам Казахстана эффективно управлять
        общественным транспортом и улучшать работу инфраструктуры.
      </p>

      <a href="{% url 'project:list' %}">
        <button class="btn btn-primary btn-sm sm:btn-md mt-4">
          Наши проекты
        </button>
      </a>
    </div>
  </div>
</div>

<!-- CONTENT GRID -->
<div class="grid gap-3 md:gap-6 max-w-7xl mx-auto py-4 md:py-12 grid-cols-1 md:grid-cols-3">

  <!-- ARTICLES -->
  <div class="md:col-span-1 bg-transparent md:bg-base-100 shadow-none md:shadow-xl rounded-none md:rounded-xl">
    <div class="p-2 md:p-6">
      <h2 class="text-xl md:text-2xl font-bold mb-3">Последние статьи</h2>

      <div class="space-y-3">
        {% for article in articles %}
        <a href="{% url 'article:detail' article.pk %}"
           class="flex gap-3 p-2 md:p-4 rounded-lg hover:bg-base-200 transition">

          {% if article.image %}
          <img src="{{ article.image.url }}"
               class="w-14 h-14 md:w-24 md:h-24 object-cover rounded-lg shrink-0">
          {% endif %}

          <div>
            <h3 class="font-semibold text-sm md:text-lg">
              {{ article.title }}
            </h3>
            <p class="text-xs md:text-sm text-base-content/60">
              {{ article.published_at|date:"d M Y" }}
            </p>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="flex justify-end mt-3">
        <a href="{% url 'article:list' %}" class="btn btn-outline btn-xs md:btn-sm">
          Все статьи →
        </a>
      </div>
    </div>
  </div>

  <!-- PROJECTS -->
  <div class="md:col-span-2 
            bg-primary 
            text-neutral-content
            shadow-none md:shadow-xl
            rounded-none md:rounded-xl
            relative overflow-hidden group">

    <!-- glow только на десктопе -->
    <div class="hidden md:block absolute inset-0 
                bg-gradient-to-br from-white/5 via-transparent to-white/5 
                opacity-0 group-hover:opacity-100 
                transition duration-500"></div>

    <div class="p-2 md:p-6 relative z-10">

      <h2 class="text-xl md:text-2xl font-bold mb-3 md:mb-4">Проекты</h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-4">
        {% for project in projects %}
        <a href="{% url 'project:detail' project.pk %}"
          class="group/item flex items-center gap-3 p-2 md:p-4 rounded-lg
                  bg-neutral-focus/30 md:bg-neutral-focus/40
                  transition-all duration-300
                  md:hover:bg-neutral-focus/70
                  md:hover:scale-[1.01]">

          {% if project.image %}
          <img src="{{ project.image.url }}"
              class="w-18 h-12 md:w-28 md:h-22 object-cover rounded-lg shrink-0
                      transition duration-300
                      md:group-hover/item:scale-105 ">
          {% endif %}

          <div>
            <h3 class="font-semibold text-sm md:text-base md:group-hover">
              {{ project.name }}
            </h3>
            {% if project.short_description %}
            <p class="text-xs md:text-sm text-neutral-content/60">
              {{ project.short_description|truncatechars:45 }}
            </p>
            {% endif %}
          </div>

        </a>
        {% endfor %}
      </div>

      <div class="flex justify-end mt-3">
        <a href="{% url 'project:list' %}" class="btn btn-outline btn-xs md:btn-sm">
          Все проекты →
        </a>
      </div>

    </div>
  </div>

  <!-- WORKFLOW -->
  <div class="md:col-span-3 
            bg-base-content 
            text-neutral-content
            shadow-none md:shadow-xl
            rounded-none md:rounded-xl
            overflow-hidden relative">

    <!-- glow только для десктопа -->
    <div class="hidden md:block absolute inset-0 
                bg-gradient-to-br from-white/5 via-transparent to-white/5">
    </div>

    <div class="p-2 md:p-10 relative z-10 space-y-6 md:space-y-10">

      <!-- Заголовок -->
      <div class="text-left md:text-center">
        <h2 class="text-xl md:text-3xl font-bold">Как мы работаем</h2>
        <p class="text-sm md:text-base text-neutral-content/60 mt-1 md:mt-2">
          Прозрачный процесс от идеи до готового продукта
        </p>
      </div>

      <!-- Steps -->
      <ul class="steps steps-vertical lg:steps-horizontal w-full gap-4">

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">1. Заявка</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Вы отправляете заявку с ТЗ или описанием задачи.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">2. Анализ</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Анализ требований и формирование решения.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">3. Проектирование</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Архитектура ПО или устройства.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">4. Разработка</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Реализация программной и аппаратной части.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">5. Тестирование</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Проверка, отладка, оптимизация.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">6. Внедрение</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Запуск проекта и интеграция.
              </span>
            </div>
          </div>
        </li>

        <li class="step step-primary">
          <div class="ml-4 lg:ml-0 text-left lg:text-center">
            <div class="flex flex-col gap-1 transition-all duration-300
                        lg:hover:-translate-y-1
                        lg:hover:text-primary
                        lg:hover:drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
              <span class="font-bold text-sm md:text-base">7. Поддержка</span>
              <span class="text-xs md:text-sm text-neutral-content/70">
                Сопровождение и развитие продукта.
              </span>
            </div>
          </div>
        </li>

      </ul>

      <!-- CTA -->
      <div class="flex justify-center pt-3 md:pt-6">
        <a href="{% url 'request:form' %}"
          class="btn btn-primary btn-sm md:btn-md gap-2 shadow-lg shadow-primary/30">
          Отправить заявку
        </a>
      </div>

    </div>
  </div>

  <!-- Blocks -->
  <div class="md:col-span-3 card hidden lg:flex overflow-hidden">
    <div class="card-body">

      <div class="space-y-6">
        {% for block in blocks %}
        <div class="p-6 rounded-xl bg-black text-neutral-content hover:bg-black transition overflow-hidden">
          <h3 class="text-xl font-semibold mb-2">
            {{ block.title }}
            {% if user.is_authenticated %}
              <a href="{% url 'main:block_edit' block.pk %}"
                class="btn btn-ghost btn-xs gap-1">
                <!-- pencil-square -->
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16.862 3.487a2.25 2.25 0 113.182 3.182L7.5 19.313l-4.5 1.125
                          1.125-4.5L16.862 3.487z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19.5 12v6.75A2.25 2.25 0 0117.25 21H5.25A2.25 2.25 0 013 18.75V6.75
                          A2.25 2.25 0 015.25 4.5H12"/>
                </svg>
              </a>
            {% endif %}
          </h3>

          <div class="
              prose max-w-none
              prose-img:max-w-full
              prose-img:h-auto
              prose-table:block
              prose-table:overflow-x-auto
              break-words
          ">
            {{ block.content|safe }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="hidden lg:flex md:col-span-3 justify-self-end m-3">
      <a href="{% url 'main:block_create' %}"
        class="btn btn-primary btn-sm gap-2">
        <!-- plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4"
            fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 4v16m8-8H4"/>
        </svg>
        Добавить блок
      </a>
    </div>
  {% endif %}
{% endblock %}
